<nav class="navbar navbar-expand-md navbar-light bg-light d-flex justify-content-between shadow-lg">
  <a href="#" class="navbar-brand ms-3" style="font-size: 30px"
    ><span style="color: orange">&#272;</span>ECRYPTO</a
  >

  <form class="d-flex">
    <div class="position-relative me-3" style="width: 350px">
      <div class="input-group">
        <input
          type="text"
          class="form-control dropdown-toggle"
          placeholder="Buscar"
          id="buscar"
          [formControl]="searchControl"
          autocomplete="off"
          style="border-radius: 5px 0px 0px 5px"
        />
        <button type="button" class="btn btn-secondary"><i class="bi bi-search"></i></button>

        <div class="list-group position-absolute top-100 end-0 z-3" style="width: 350px">
          @if (searchControl.value && filteredCryptos().length > 0) {
            @for (crypto of filteredCryptos(); track $index) {
              <button
                type="button"
                class="list-group-item list-group-item-action d-flex justify-content-between"
                style="border-radius: 0px"
              >
                <img src="{{ crypto.image }}" height="25" />
                <span class="border-start"></span>
                <span style="width: 55%"
                  >{{ crypto.name }}
                  <strong class="text-uppercase"> ({{ crypto.symbol }}) </strong></span
                >
                <span style="width: 15%">#{{ crypto.market_cap_rank }}</span>
              </button>
            }
          }
        </div>
      </div>
    </div>
  </form>
</nav>
